@page "/"

<div class="jumbotron">
    <h1>Учебное приложение</h1>
    <p>
        Быстрая разработка современных веб-приложений на Blazor<br />
        Начальный уровень. Версия 1. Июль 2021
    </p>
    <a href="" target="_blank">Исходный код и описание приложения на GitHub</a>
</div>

<a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-5.0" target="_blank">Документация для разработчика по Blazor</a>